p {
    margin: 0;
    padding: 0;
}
.details {
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid #CCC;
    height: 100%;
}
.details__list {
    margin-bottom: 80px;
}
.details__title {
    margin-bottom: 30px;
}
.details__item strong,
.details__item p {
    display: inline-block;
}
.details__item p {
    margin-left: 15px;
}
.borders__list {
    padding-left: 50px;
    list-style-type: disc;
}
.borders__list-item {
    padding-left: 15px;
    list-style-type: disc;
}
.details-block {
   display: flex;
}
.no-details {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid #CCC;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.no-details h2 {
    text-align: center;
}